h1,
h2,
h3,
h4,
h5,
h6, {
  font-family: 'Signika Negative', sans-serif;
}
.navbar-header {
  float: none;
}

.navbar-toggle {
  display: block;
}

.navbar-collapse.collapse {
  display: none!important;
}

.navbar-nav {
  float: none!important;
}

.navbar-nav>li {
  float: none;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.bor_full {
  border: none !important;
}

.navbar-inverse {
  background-color: #000;
  border-color: #000;
}

a.navbar-brand {
  background-image: url(../images/logo.png);
  width: 16%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 81% 97%;
}

.wrapper {
  background-image: url(../images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
}
section.Residential {
    background-image: url(../images/residue.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 400px;
    margin-top: 5%;
 
}

.about_img {
  margin: -77px 0px 0px 0px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel-control.left,
.carousel-control.right {
  background-image: none !important;
}



.carousel-caption {
  right: 50%;
  left: 19%;
  padding-bottom: 11%;
}

.carousel-caption h3 {
  display: -webkit-box;
  font-size: 100px;
  font-weight: bold;
}

.carousel-caption p {
  display: -webkit-box;
  font-size: 40px;
}

.full_container {
  background: #ffff;
  margin: 120px 0px 0px -174px;
}

.full_container h2 {
  color: #ed562a;
}

.full_container .btn {
  background: #ed562a;
  color: #fff;
  border-radius: 23px;
  width: 130px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.full_container span {
  font-size: 22px;
  font-weight: bold;
  color: #ed562a;
}

hr.divider{
    max-width: 2.25rem;
    border-width: 4px;
    border-color: #ed562a;
}
.text-uppercase{
  text-transform: capitalize;
    font-size: 43px;
    color: #fff;
    font-weight: bolder;
    margin-top: 12px;
   letter-spacing: 3px;
}

p.text-white-75 {
    color: #fff;
    font-size: 16px;
}
.btn{
  background: #ed562a;
  color: #fff;
  border-radius: 23px;
  width: 130px;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-color: #ed562a;
}
.full_section{
  background: #ed562a;
    width: 82%;
    height: 190px;
    margin: 56% 0px 0px 64%;
    z-index: 999;
    position: relative;
}
 .full_section h2 {
    color: #fff;
    margin: 77px 0px 4px 84px;
    position: absolute;
    font-size: 30px;
  }

  .h-20{
    margin-top: 5%;
  }

  .info_nafeesa{
    background:#f7f7f7;
  }

  .info_nafeesa .glyphicon {
    color: #ed562a;
}

.info_nafeesa1 h2 {
    font-size: 35px;
    color: #ed562a;
    font-weight: bold;
}

.info_nafeesa1 h4{
    font-size: 33px;
    color: #ed562a;
}

.info_nafeesa1 h5{
    text-transform: uppercase;
    font-weight: bold;
  }
.page-footer{
    width: 100%;
    background-color: #000000d4;
    position: relative;
    bottom: 0;
    height: 82px;
  }
.page-footer p{
    color: #fff;
     margin-top: 25px;
  }

  .page-footer span{
    color: #ed562a;
  }
  .Copyright{
    float: left; 
  }

  .Copyright h5{
    color: #fff;
  }
  .social_icon{
    margin-top: 25px;
     float: right; 
  }

  .enquire_now{
    background-color: #353535;
  }

    .enquire_now .form-control{
    width: 75%;
    border: none;
    background: #353535;
    border-radius: 0px;
    border-bottom: 1px solid #fff;
    box-shadow: none;
    color: #fff;
  }
  .enquire_now h2{
    font-size: 35px;
    color: #fff;
    font-weight: bold;
  }

   .enquire_now h5{
    color: #fff;
   }
  .enquire_now
  {
    height: 375px;
  }